<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jason.book.mapper.BookMapper">
    <resultMap id="BookResultMap" type="com.alibaba.fastjson.JSONObject">
        <id column="book_id" jdbcType="INTEGER" property="bookId" />
        <result column="book_name" jdbcType="VARCHAR" property="bookName" />
        <result column="book_author" jdbcType="VARCHAR" property="author" />
        <result column="book_publisher" jdbcType="VARCHAR" property="publisher" />
        <result column="book_status" jdbcType="INTEGER" property="status" />
        <result column="book_category" jdbcType="INTEGER" property="categoryId" />
        <result column="book_price" jdbcType="DECIMAL" property="price" />
        <result column="create_date" jdbcType="DATE" property="createDate" />
        <result column="book_description" jdbcType="VARCHAR" property="description" />
    </resultMap>

    <!--分页查询书籍-->
    <select id="selectBookListByPage" resultMap="BookResultMap" resultType="com.alibaba.fastjson.JSONObject">
        select book_id, book_name, book_author,book_publisher,book_status,book_price,book_description
        from t_book
        <where>
            1 = 1
            <if test="bookName != null and bookName!= ''">
                and book_name like #{bookName,jdbcType=VARCHAR}
            </if>
            <if test="author != null and author!= ''">
                and book_author = #{author,jdbcType=VARCHAR}
            </if>
            <if test="categoryId != null and categoryId!= ''">
                and book_category = #{categoryId,jdbcType=INTEGER}
            </if>
            ORDER BY book_id DESC
            LIMIT #{pageNumber}, #{pageSize}
        </where>
    </select>

    <insert id="addBook" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO t_book (book_name,book_author,book_publisher,book_category,book_price,book_description)
        VALUES (#{bookName},#{author},#{publisher},#{categoryId},#{price},#{description})
    </insert>

    <select id="getCountByCategoryId" resultType="Integer" parameterType="com.alibaba.fastjson.JSONObject">
        select count(*) from t_book
        <where>
            1=1
            <if test="bookName != null and bookName!= ''">
                and book_name like #{bookName,jdbcType=VARCHAR}
            </if>
            <if test="author != null and author!= ''">
                and book_author = #{author,jdbcType=VARCHAR}
            </if>
            <if test="categoryId != null and categoryId!= ''">
                and book_category = #{categoryId,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>
