<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jason.book.mapper.PermissionMapper">
    <resultMap id="PermResultMap" type="com.jason.book.utils.One2Many">
        <id column="user_id" jdbcType="INTEGER" property="userId" />
        <id column="user_name" jdbcType="INTEGER" property="userName" />
        <result column="role_id" jdbcType="VARCHAR" property="roleId" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <collection property="menuList" ofType="String">
            <id column="menu_code" property="menuCode"/>
        </collection>
        <collection property="permissionList" ofType="String">
            <id column="permission_code" property="permissionCode"/>
        </collection>
    </resultMap>

    <select id="getUserPermission" resultMap="PermResultMap" parameterType="com.alibaba.fastjson.JSONObject">
        select
               u.user_id,
               u.user_name,
               r.role_id,
               r.role_name,
               p.menu_code,
               p.permission_code
        from t_user u
            left join t_role r on u.role_id=r.role_id
            left join t_role_permission rp on rp.role_id=u.role_id
            left join t_permissions p on rp.permission_id=p.id and rp.delete_status = '1'
        where u.user_name = #{userName}
            and u.user_status = '0'
    </select>

    <select id="getAllPermission" resultType="com.alibaba.fastjson.JSONObject">
        SELECT permission_code permissionCode
        FROM t_permissions
        ORDER BY id
    </select>
    <select id="getAllMenu" resultType="com.alibaba.fastjson.JSONObject">
        SELECT menu_code menuCode
        FROM t_permissions
        ORDER BY id
    </select>

</mapper>
